<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.clientes}">Clientes</title>
    <th:block th:insert="~{fragments/head.html :: headfiles}"/>
</head>

<body>
<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" class="text-muted">
    <div class="clearfix">
        <div style="float: left; width: 50%" class="ms-1 text-secondary">
            <h1 th:text="#{title.clientes}">Clientes</h1>
        </div>

        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
            <div style="position: absolute; left: 39%; top : 39%;">
                <form action="/clientes/crear">
                    <input type="submit" th:value="#{btn.crear}" value="Crear" class="btn btn-success bg-gradient">
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix p-3 mb-2 bg-secondary bg-gradient text-white rounded">
        <div style="float: left;width: 8%" th:text="#{etq.id}">Id</div>
        <div style="float: left;width: 10%" th:text="#{etq.nombre}">Nombre</div>
        <div style="float: left;width: 10%" th:text="#{etq.apellido1}">Apellido1</div>
        <div style="float: left;width: 10%" th:text="#{etq.apellido2}">Apellido2</div>
        <div style="float: left;width: 10%" th:text="#{etq.email}">Email</div>
        <div style="float: left;width: 10%" class="text-end" th:text="#{etq.ciudad}">Ciudad</div>
        <div style="float: left;width: 10%" class="text-end" th:text="#{etq.categoria}">Categoría</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;" th:text="#{etq.accion}"></div>
    </div>

    <div  th:each="cliente : ${listaClientes}" style="margin-top: 6px;" class="clearfix">
        <div class="ps-3" style="float: left;width: 8%" th:text="${cliente.id}">output</div>
        <div style="float: left;width: 10%" th:text="${cliente.nombre}">output</div>
        <div style="float: left;width: 10%" th:text="${cliente.apellido1}">output</div>
        <div style="float: left;width: 10%" th:text="${cliente.apellido2 ?: '&nbsp;'}">output</div>
        <div style="float: left;width: 10%;overflow: hidden" th:text="${cliente.email}">output</div>
        <div style="float: left;width: 10%" class="text-end" th:text="${cliente.ciudad ?: '&nbsp;'}">output</div>
        <div style="float: left;width: 10%" class="text-end" th:text="${cliente.categoria}">output</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;">
            <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                <input type="submit" th:value="#{btn.detalle}" value="Ver Detalle" class="btn btn-primary bg-gradient"/>
            </form>
            <form th:action="@{/clientes/editar/}+${cliente.id} " style="display: inline;">
                <input type="submit" th:value="#{btn.editar}" value="Editar" class="btn btn-primary bg-gradient"/>
            </form>
            <form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" style="display: inline;">
                <input type="submit" th:value="#{btn.eliminar}" value="Borrar" class="btn btn-danger bg-gradient"/>
            </form>
        </div>
    </div>
</div>




<!--
<script type="text/javascript" src="js/jquery.js" ></script>
<!--MODAL DE BORRAR
<div class="modal fade" id="newBorrarIDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2" th:text="#{msg.pedidos}">Pedidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="msgborrarpedidomodal" class="modal-body" th:text="#{msg.borrar.pedido}">
                Desea borrar pedido con ID
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete" data-dismiss="modal" th:text="#{btn.borrar}">Borrar</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal" th:text="#{btn.cancelar}">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //DINAMISMO CON JQUERY..
    //CUANDO SE CARGA EL DOM JQUERY EJECUTA SOBRE SELECTOR DE CAPA MODAL AL MODAL
    $(function (){

        $('.btn.formdelete').click( function (eventObject) {
            let pedidoID = $(this).attr('data-pedido-id');
            $('#msgborrarpedidomodal').text([[#{msg.borrar.pedido}]]+ ' ' +pedidoID + '?')
            $('#newBorrarIDModal button.delete').attr('data-pedido-id', pedidoID);
            $('#newBorrarIDModal').modal('show');
        });

        $('#newBorrarIDModal').on('click', 'button.delete', function (eventObject) {
            let pedidoID = $(this).attr('data-pedido-id');
            document.forms['formdelete'+pedidoID].submit();
            $('#newBorrarIDModal').modal('hide');
        });

        $('#newBorrarIDModal').on('click', 'button.close', function (eventObject) {
            $('#newBorrarIDModal').modal('hide');
        });

    });
</script>


-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
