<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.detalleComercial}">Detalle Comercial</title>
    <th:block th:insert="~{fragments/head.html :: headfiles}"/>
</head>

<body>
<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" class="text-muted">

    <!-- TITULO DETALLE COMERCIAL -->
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{title.detalleComercial}">Detalle Comercial</h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
            <div style="position: absolute; left: 39%; top : 39%;">
                <form action="/comerciales" >
                    <input type="submit" th:value="#{btn.volver}" value="Volver" class="btn btn-secondary bg-gradient"/>
                </form>
            </div>
        </div>
    </div>
    <!-- CABECERA DETALLE COMERCIAL -->
    <div class="clearfix p-3 mb-2 bg-secondary bg-gradient text-white rounded">
        <div style="float: left;width: 8%" th:text="#{etq.id}">Id</div>
        <div style="float: left;width: 14%" th:text="#{etq.nombre}">Nombre</div>
        <div style="float: left;width: 14%" th:text="#{etq.apellido1}">Apellido1</div>
        <div style="float: left;width: 14%" th:text="#{etq.apellido2}">Apellido2</div>
        <div style="float: left;width: 14%" th:text="#{etq.comision}">Comisión</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center" th:text="#{etq.accion}">Acción</div>
    </div>
    <!-- DATOS DETALLE COMERCIAL -->
    <div style="margin-top: 6px;" class="clearfix">
        <div class="ps-3" style="float: left;width: 8%" th:text="${comercial.id}">output</div>
        <div style="float: left;width: 14%" th:text="${comercial.nombre}">output</div>
        <div style="float: left;width: 14%" th:text="${comercial.apellido1}">output</div>
        <div style="float: left;width: 14%" th:text="${comercial.apellido2 ?: '&nbsp;'}">output</div>
        <div style="float: left;width: 14%" th:text="${comercial.comision}">output</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;">
            <form th:action="@{/comerciales/editar/}+${comercial.id} " style="display: inline;">
                <input type="submit" th:value="#{btn.editar}" value="Editar" class="btn btn-primary bg-gradient"/>
            </form>
            <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                <input type="submit" th:value="#{btn.eliminar}" value="Borrar" class="btn btn-danger bg-gradient"/>
            </form>
        </div>
    </div>


    <!-- TITULO DETALLE PEDIDOS -->
    <div class="clearfix">
        <div class="ms-3 mt-5" style="float: left; width: 50%">
            <h3 th:text="#{title.pedidos}">Pedidos</h3>
        </div>
    </div>
    <!-- CABECERA DETALLE PEDIDOS -->
    <div class="clearfix p-3 mb-2 bg-secondary bg-gradient text-white rounded">
        <div style="float: left;width: 8%" th:text="#{etq.id}">Id</div>
        <div style="float: left;width: 14%" th:text="#{etq.total}">Total</div>
        <div style="float: left;width: 14%" th:text="#{etq.fecha}">Fecha</div>
        <div style="float: left;width: 14%" th:text="#{etq.idCliente}">Id Cliente</div>
        <div style="float: left;width: 14%" th:text="#{etq.nombreCliente}">Nombre Cliente</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;" th:text="#{etq.accion}">Acción</div>
    </div>
    <!-- LISTADO PEDIDOS -->
    <div  th:each="pedido : ${listaPedidos}" style="margin-top: 6px;" th:class="'clearfix ' + ${detallesPedidos.id_Pedido_Min == detallesPedidos.id_Pedido_Max ? '' : pedido.id == detallesPedidos.id_Pedido_Min ? 'bg-warning' : pedido.id == detallesPedidos.id_Pedido_Max ? 'bg-success' : ''} + ' rounded'">
        <div class="ps-3" style="float: left;width: 8%" th:text="${pedido.id}">output</div>
        <div style="float: left;width: 14%" th:text="${#numbers.formatDecimal(pedido.total, 1, 'DEFAULT', 2, 'DEFAULT')+' €'}">output</div>
        <div style="float: left;width: 14%" th:text="${pedido.fecha}">output</div>
        <div style="float: left;width: 14%" th:text="${pedido.id_cliente ?: '&nbsp;'}">output</div>
        <div style="float: left;width: 14%" th:text="${pedido.cliente.nombre}">output</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;">
            <form th:action="@{/clientes/__${pedido.id_cliente }__}" style="display: inline;">
                <input type="submit" th:value="#{btn.detalleCliente}" value="Detalle Ciente" class="btn btn-primary bg-gradient"/>
            </form>
        </div>
    </div>

    <!-- ESTE BLOQUE SOLO SE EJECUTA SI EL COMERCIAL TIENE PEDIDOS REALIZADOS -->
    <th:block th:if="${detallesPedidos != null}">

        <!-- ESTADÍSTICAS PEDIDOS -->
        <th:block th:if="${detallesPedidos.id_Pedido_Min != detallesPedidos.id_Pedido_Max}">
    <div class="clearfix col-8 p-3 m-2 bg-light bg-gradient text-muted rounded">
        <div style="float: left;width: 40%" th:text="#{title.pedido.estadisticas}">Estadísticas:</div>
        <div style="float: right;width: 50%" th:text="#{etq.pedidos.media}+' '+${#numbers.formatDecimal(detallesPedidos.media, 1, 'DEFAULT', 2, 'DEFAULT')+' €'}">Importe medio pedidos</div>
        <div style="float: right;width: 50%" th:text="#{etq.pedidos.suma}+' '+${#numbers.formatDecimal(detallesPedidos.sumaTotal, 1, 'DEFAULT', 2, 'DEFAULT')+' €'}">Importe total pedidos</div>
    </div>
        </th:block>

    <!-- TITULO FACTURACIÓN/CLIENTE -->
    <div class="clearfix">
        <div class="ms-3 mt-3" style="float: left; width: 50%">
            <h3 th:text="#{title.cliente.facturacion}">Facturación por Cliente</h3>
        </div>
    </div>
    <!-- CABECERA FACTURACIÓN POR CLIENTE -->
    <div class="clearfix p-3 mb-2 bg-secondary bg-gradient text-white rounded">
        <div style="float: left;width: 20%" th:text="#{etq.idCliente}">Id Cliente</div>
        <div style="float: left;width: 20%" th:text="#{etq.nombreCliente}">Nombre Cliente</div>
        <div style="float: left;width: 20%" th:text="#{etq.cliente.facturacionTotal}">Facturación total</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;" th:text="#{etq.accion}">Acción</div>
    </div>
    <!-- LISTADO CLIENTES -->
    <div  th:each="clientBillingDTO : ${listaFacturacionClientesDTO}" style="margin-top: 6px;" class="clearfix">
        <div class="ps-3" style="float: left;width: 20%" th:text="${clientBillingDTO.idCliente ?: '&nbsp;'}">output</div>
        <div style="float: left;width: 20%" th:text="${clientBillingDTO.nombreCliente}">output</div>
        <div style="float: left;width: 20%" th:text="${#numbers.formatDecimal(clientBillingDTO.totalCliente, 1, 'DEFAULT', 2, 'DEFAULT')+' €'}">output</div>
        <div style="float: none;width: auto;overflow: hidden;text-align: center;">
            <form th:action="@{/clientes/__${clientBillingDTO.idCliente}__}" style="display: inline;">
                <input type="submit" th:value="#{btn.detalleCliente}" value="Detalle Cliente" class="btn btn-primary bg-gradient"/>
            </form>
        </div>
    </div>
    </th:block>

    <div th:unless="${detallesPedidos != null}">
        <div th:text="#{msg.NoHayPedidos}" class="ps-3 text-danger">No hay pedidos</div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>