<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.editarCliente}">Editar Cliente</title>
    <th:block th:insert="~{fragments/head.html :: headfiles}"/>
</head>

<body>
<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" class="text-muted">
    <form  th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" method="post" >
        <div class="clearfix mb-3">
            <div style="float: left; width: 50%;text-align: center" class="ms-1 text-secondary">
                <h1 th:text="#{title.editarCliente}">Editar Cliente</h1>
            </div>

            <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
                <div style="position: absolute; left: 39%; top : 39%;">
                    <input type="submit" value="Guardar" th:value="#{btn.guardar}" class="btn btn-success bg-gradient"/>
                </div>
            </div>
        </div>


        <div class="container clearfix mt-4">
            <div class="row mb-2">
                <div class="col-5 me-4 text-end" th:text="#{etq.nombre}">Nombre</div>
                <input th:field="*{nombre}" readonly="readonly" class="col-3 border" th:classappend="${#fields.hasErrors('nombre')?'border-danger-subtle':''}"/>
                <div class="col-3 text-danger" th:if="${#fields.hasErrors('nombre')}">
                    <span style="float: left" th:each="error : ${#fields.errors('nombre')}" th:text="${error}"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-5 me-4 text-end" th:text="#{etq.apellido1}">Apellido1</div>
                <input th:field="*{apellido1}" class="col-3 border" th:classappend="${#fields.hasErrors('apellido1')?'border-danger-subtle':''}"/>
                <div class="col-3 text-danger" th:if="${#fields.hasErrors('apellido1')}">
                    <span style="float: left" th:each="error : ${#fields.errors('apellido1')}" th:text="${error}"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-5 me-4 text-end" th:text="#{etq.apellido2}">Apellido2</div>
                <input th:field="*{apellido2}" class="col-3 border" th:classappend="${#fields.hasErrors('apellido2')?'border-danger-subtle':''}"/>
                <div class="col-3 text-danger" th:if="${#fields.hasErrors('apellido2')}">
                    <span style="float: left" th:each="error : ${#fields.errors('apellido2')}" th:text="${error}"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-5 me-4 text-end" th:text="#{etq.ciudad}">Ciudad</div>
                <input th:field="*{ciudad}" class="col-3 border" th:classappend="${#fields.hasErrors('ciudad')?'border-danger-subtle':''}"/>
                <div class="col-3 text-danger" th:if="${#fields.hasErrors('ciudad')}">
                    <span style="float: left" th:each="error : ${#fields.errors('ciudad')}" th:text="${error}"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-5 me-4 text-end" th:text="#{etq.categoria}">Categoría</div>
                <input type="number" th:field="*{categoria}" class="col-3 border" th:classappend="${#fields.hasErrors('categoria')?'border-danger-subtle':''}"/>
                <div class="col-3 text-danger" th:if="${#fields.hasErrors('categoria')}">
                    <span style="float: left" th:each="error : ${#fields.errors('categoria')}" th:text="${error}"/>
                </div>
            </div>
        </div>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>